# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R-Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. PyTorch

|Data Science Tools|
|------|
|Apache Spark|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
a=200
b=60
c=a/b
print ("200 minutes into hours is",c)

200 minutes into hours is 3.3333333333333335

**Objectives:**
- Data Science Tools and Ecosystem
- Languages used by Data Scientists
- Libraries used by Data Scientists
- Data Science Tools
- Arithmetic Expressions in Python

## Author
Aayush Khatri